.theme--light {
    --color-theme: var(--color-orange);
    --color-theme-contrast: var(--color-white);
    --color-theme-accent: var(--color-black);
}

.theme--dark {
    --color-theme: var(--color-black);
    --color-theme-contrast: var(--color-white);
    --color-theme-accent: var(--color-orange);
}
