@utility typo-h1 {
    font-size: var(--text-h1);
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: -0.02em;
    font-family: var(--font-primary);
}

@utility typo-h2 {
    font-size: var(--text-h2);
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: -0.02em;
    font-family: var(--font-primary);
}

@utility typo-h3 {
    font-size: var(--text-h3);
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: -0.02em;
    font-family: var(--font-primary);
}

@utility typo-h4 {
    font-size: var(--text-h4);
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: -0.02em;
    font-family: var(--font-primary);
}

@utility typo-h5 {
    font-size: var(--text-h5);
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: -0.02em;
    font-family: var(--font-secondary);
}

@utility typo-body {
    font-size: var(--text-body);
    line-height: 1.1;
    font-weight: 400;
    letter-spacing: -0.02em;
    font-family: var(--font-secondary);
}

@utility typo-small {
    font-size: var(--text-small);
    line-height: 1.1;
    font-weight: 400;
    letter-spacing: -0.02em;
    font-family: var(--font-secondary);
}

@utility typo-caps {
    font-size: var(--text-caps);
    line-height: 1.1;
    font-weight: 400;
    letter-spacing: -0.02em;
    font-family: var(--font-secondary);
    text-transform: uppercase;
}

@utility typo-button {
    font-size: var(--text-button);
    line-height: 1;
    font-weight: 400;
    letter-spacing: -0.02em;
    font-family: var(--font-secondary);
}
