@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@font-face {
    font-family: 'Tenorite';
    src:
        url('/tenorite-regular-webfont.woff2') format('woff2'),
        url('/tenorite-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
