@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'swiper/css';
@import 'leaflet';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: 'Tenorite';
    src:
        url('/tenorite-regular-webfont.woff2') format('woff2'),
        url('/tenorite-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --gutter: 0.5rem;
    --grid-gap: 0.5rem;
}

html {
    font-family:
        'ubuntu',
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    height: 100svh;
    position: relative;
}

.typo-pre {
    @apply text-pre uppercase font-tenorite;
}

@keyframes walk {
    0% {
        background-position: 5% 5%;
    }
    25% {
        background-position: 95% 5%;
    }
    50% {
        background-position: 95% 95%;
    }
    75% {
        background-position: 5% 95%;
    }
    100% {
        background-position: 5% 5%;
    }
}

.pictures-background {
    background-image: url(/pictures.jpg);
    background-size: 1000%;
    background-repeat: no-repeat;
    clip-path: url(#logotype-clip-path);
}

.collage-background {
    background-image: url(/collage.jpeg);
    background-size: 1000%;
    background-repeat: no-repeat;
    clip-path: url(#logotype-clip-path);
}

.gradient-background {
    background-image: url(/gradient-bg.png);
    background-size: 1200%;
    background-repeat: no-repeat;
    clip-path: url(#logotype-clip-path);
    animation: walk 20s linear infinite;
}

a[href="https://www.maptiler.com"]
{
    display: none !important;
}

.leaflet-control-attribution {
    display: none !important;
}

.leaflet-pane {
    z-index: 1;
}

.leaflet-tile-pane {
    z-index: 1;
}

.leaflet-top,
.leaflet-bottom {
    z-index: 5;
}
