@import 'tailwindcss';

@theme {
    /* Colors */
    --color-black-true: #000;
    --color-white-true: #fff;
    --color-error: #e34a4a;

    --color-black: #2b2b2b;
    --color-black: #395461;
    --color-white: #f7f7f7;

    --color-grey-light: #ebebeb;
    --color-grey: #dddddd;
    --color-grey-dark: #333333;

    --color-orange-light: #f8ecd4;
    --color-orange: #faac4a;
    --color-orange-dark: #f9912f;

    --color-green-light: #24b595;
    --color-green: #7ec1a9;
    --color-green-dark: #48a392;

    --color-blue-light: #e7f2e4;
    --color-blue: #8dbfe1;
    --color-blue-dark: #4989b4;

    --color-error: #e34a4a;
    --color-theme: var(--color-orange);
    --color-theme-contrast: var(--color-black);
    --color-theme-accent: var(--color-orange-dark);

    /* Spacing */
    --spacing-header: 4rem;
    --spacing-gutter: 0.5rem;
    --spacing-grid-gap: 0.5rem;
    --spacing-max-content: 1920px;
    --spacing-scrollbar: 15px;
    --spacing-content: 600px;

    --gap-grid: var(--spacing-grid-gap);

    /* Sizing */
    --width-viewport: calc(100vw - var(--spacing-scrollbar));

    /* Borders */
    --radius-button: 0.5rem;
    --radius-card: 0.6rem;
    --radius-ui: 0.75rem;
    --radius: 0.5rem;
    --radius-tag: 0.5rem;
    --radius-sm: 0.4rem;

    /* Misc */
    --shadow-card: rgba(75, 80, 94, 0.12) 0px 14px 36px 0px;
    --shadow-inset: inset 0 0 12px rgba(0, 0, 0, 0.1);

    --shadow-button: rgba(75, 80, 94, 0.12) 0px 14px 36px 0px;

    /* Interactivity */
    --transition-clip-path: clip-path;
    --transition-opacity-visibility: opacity, visibility;
    --transition-height: height, max-height;

    --ease-default: cubic-bezier(0.25, 0.1, 0.25, 1);
    --ease-slide: cubic-bezier(0.95, 0.2, 0.25, 1);
    --ease-shift: cubic-bezier(0.22, 1, 0.36, 1);
    --ease-fade: cubic-bezier(0.645, 0.045, 0.355, 1);
    --ease-rollover: cubic-bezier(0.16, 0.16, 0.2, 0.9);
}
