@import 'tailwindcss';

@theme {
    /* Colors */
    --color-black: #2b2b2b;
    --color-black-true: #000;
    --color-white: #fff;
    --color-white-off: #f7f7f7;
    --color-grey-light: #ebebeb;
    --color-grey: #dddddd;
    --color-grey-dark: #797979;

    --color-red: #ff4a5c;
    --color-blue: #31285b;
    --color-green: #115748;
    --color-orange: #faac4a;
    --color-pink: #f2abab;

    --color-error: #e34a4a;

    --color-theme: var(--color-orange);
    --color-theme-contrast: var(--color-white);
    --color-theme-accent: var(--color-black);

    --color-primary: #faac4a;
    --color-secondary: #f8ac4c;
    --color-canvas: #fff;
    --color-canvas-alt: #e4e4e4;

    /* --color-green-1: #24B595;
    --color-green-2: #24B595;
    --color-green-3: #115748; */

    /* Typography */
    --font-primary: 'Tenorite', sans-serif;
    --font-tenorite: 'Tenorite', sans-serif;
    --font-sans: 'Open Sans', sans-serif;

    --text-h1: 2.5rem;
    --text-h2: 2rem;
    --text-h3: 1.5rem;
    --text-h4: 1.25rem;
    --text-h5: 1.15rem;
    --text-body: 1rem;
    --text-small: 0.875rem;
    --text-caps: 0.875rem;
    --text-button: 1rem;
    --text-logo: 2rem;
    --text-h-card: 1.125rem;

    /* Spacing */
    --spacing-header: 4rem;
    --spacing-gutter: 0.5rem;
    --spacing-grid-gap: 0.5rem;
    --spacing-max-content: 1920px;
    --spacing-scrollbar: 15px;
    --spacing-content: 600px;

    --gap-grid: var(--spacing-grid-gap);

    /* Sizing */
    --width-viewport: calc(100vw - var(--spacing-scrollbar));

    /* Borders */
    --radius-button: 0.4rem;
    --radius-card: 0.6rem;
    --radius-ui: 0.75rem;
    --radius: 0.5rem;

    /* Misc */
    --shadow-card: rgba(75, 80, 94, 0.08) 0px 14px 36px 0px;

    /* Interactivity */
    --transition-clip-path: clip-path;
    --transition-opacity-visibility: opacity, visibility;
    --transition-height: height, max-height;

    --ease-default: cubic-bezier(0.25, 0.1, 0.25, 1);
    --ease-slide: cubic-bezier(0.95, 0.2, 0.25, 1);
    --ease-shift: cubic-bezier(0.22, 1, 0.36, 1);
    --ease-fade: cubic-bezier(0.645, 0.045, 0.355, 1);
    --ease-rollover: cubic-bezier(0.16, 0.16, 0.2, 0.9);
}
