@layer base {
    .theme--default {
        --color-theme: #faac4a;
        --color-theme-contrast: #000;
        --color-theme-accent: #fff;
    }

    .theme--cultura {
        --color-theme: #6f1926;
        --color-theme-contrast: #fff;
        --color-theme-accent: #000;
    }

    .theme--entretencion {
        --color-theme: #de324c;
        --color-theme-contrast: #fff;
        --color-theme-accent: #000;
    }

    .theme--gastronomia {
        --color-theme: #95cf92;
        --color-theme-contrast: #fff;
        --color-theme-accent: #000;
    }

    .theme--deporte {
        --color-theme: #369acc;
        --color-theme-contrast: #fff;
        --color-theme-accent: #000;
    }

    .theme--bienestar {
        --color-theme: #9656a2;
        --color-theme-contrast: #fff;
        --color-theme-accent: #000;
    }
}
