@layer base {
    .theme--default {
        --color-theme: #faac4a;
        --color-theme-contrast: #000;
        --color-theme-accent: #fff;
    }

    .theme--bienestar {
        --color-theme: #00c7be;
        --color-theme-contrast: #fff;
        --color-theme-accent: #000;
    }

    .theme--cultura {
        --color-theme: #5856d6;
        --color-theme-contrast: #fff;
        --color-theme-accent: #000;
    }

    .theme--educacion {
        --color-theme: #8e4b21;
        --color-theme-contrast: #fff;
        --color-theme-accent: #000;
    }

    .theme--entretencion {
        --color-theme: #ff2d55;
        --color-theme-contrast: #fff;
        --color-theme-accent: #000;
    }

    .theme--deporte {
        --color-theme: #ff3b30;
        --color-theme-contrast: #fff;
        --color-theme-accent: #000;
    }

    .theme--familiar {
        --color-theme: #32ade6;
        --color-theme-contrast: #fff;
        --color-theme-accent: #000;
    }

    .theme--gastronomia {
        --color-theme: #34c759;
        --color-theme-contrast: #fff;
        --color-theme-accent: #000;
    }

    .theme--negocios {
        --color-theme: #1c3983;
        --color-theme-contrast: #fff;
        --color-theme-accent: #000;
    }
}
